:root {
  --brand-green: #58EB94;
  --bg-gray: #F8F9FA;
  --text-main: #333333;
}

.header-bar {
  background-color: var(--brand-green);
  color: var(--text-main);
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 20px;
}

.circle-icon {
  width: 75px;
  height: 75px;
  background-color: var(--brand-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-left: 20px;
}


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

